#saleorder
{
	width:70%;	
}
#listorder
{
	width:30%;
}
#product-content
{
	
}
#frmSaleOrder
{
	
}
#frmSaleOrder input
{
	width:98%;	
}
#frmSaleOrder textarea
{
	width:98%;	
}
.ordercurrent
{
	background:red !important;	
}